#gallery {
  display: flex;
  padding: 10px;
}

img {
  height: 250px;
}

.gallery-element {
  list-style-type: none;
  margin: auto;
}

#counter {
  margin-bottom: 40px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
